body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.namebox {
    display: grid;
    grid-template-rows: 65px 1fr;
    text-align: center;
}

.sidebar {
    position: fixed;
    left: -275px;
    width: 275px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgb(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn,label #cancel {
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding:  6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -215px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding:  4px 9px;
    transition: all .5s;
}
#check:checked ~.sidebar {
    left: 0;
}
#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel {
    left: 225px;
}
.form {
    display: grid;
    grid-template:
    "one two" 1fr
    / 1fr 1fr;

}
.form1 {
    grid-area: one;
    padding: 10px;
    justify-self: left;
}
.form2 {
    grid-area: two;
    justify-self: normal;
}
input[type=text]{
    display: inline-table;
    width: 15%;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    resize: vertical;
}
.submitbutton{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}
.submitbutton:hover {
    background-color: #45a049;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.icon {
    background-color: green;
    border: none;
    color: white;
    padding: 2px 3px;
    font-size:15px;
    cursor: pointer;
}
.icon:hover {
    background-color: RoyalBlue;
}
.pic {
    height: 120px;
    width: 180px;
    position: absolute;
    top: 50px;
    left: 45%;
}
.list {
    font-size: 30px;
}
table th td {
    border: 2px solid black;
    border-collapse: collapse;
}
